<div id="lessons_coupdecoeur">

  <p class="coupdecoeur_titre"><img src="/images/home_selection_heart.png"/> Les coups de coeur de l'école buissonière</p>


  <% lessonscoupdecoeur.each do |s| %>
      <% @cours = s %>
      <div class="span2">
        <%= render 'vignette' %>
      </div>
  <% end %>

</div>

<div id="lessons_separateur"></div>

<div id="lessons_liste">
  <div id="lessons_recherche" class="span2">
    <%= render 'searchbox' %>
  </div>
  <div id="lessons_vignettes" class="row">
    <% @lessons.where('horaire > ?', DateTime.now.beginning_of_day).each do |s| %>

        <% @cours = s %>
        <div class="span3">
          <%= render 'vignette' %>
        </div>
    <% end %>
  </div>
  <%= paginate @lessons, :window => 2 %>
</div>


