<div class='internal_lesson'>
<h1> Inscription pour le cours : <%= @lesson.syllabus.name %> </h1>
    <p>
        Pour participer à ce cours, vous pouvez contacter directement l'organisateur :
        <br><br>
      <%= @lesson.syllabus.contact_reservation %>
    </p>
</div>

