<div id="lessons_coupdecoeur">
  <img src="" alt="">

</div>
<div id="lessons_liste">
  <div id="lessons_recherche"></div>
  <div id="lessons_vignettes">
    <% @lessons.each do |s| %>
        <% @cours = s %>
        <%= render 'vignette' %>
    <% end %>
  </div>
</div>


