/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require syllabuses
 *= require jquery.ui.all
 *= require bootstrap_and_overrides
 *= require active_admin
 *= require_self
*/

/* ******************************** */
/*GLOBAL*/
@font-face {
  font-family: 'BirchStd';
  src: url('<%= asset_path('BirchStd.otf') %>');
}


body
{
    width : 100%;
    background: url('/images/body.gif') repeat left top;
    font-family: BirchStd;


}
#main
{
    width: 960px;
    margin: auto;
}

#content
{
    background-color: white !important;

}
/* ******************************** */
/*HEADER*/
#header_global
{
    position: relative;
    height: 150px;
}

#logo
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    z-index: 2;
}

.navigation_bar
{
  background: url('/images/menu.png') no-repeat scroll left top transparent;
  height: 64px !important;
  position: absolute;
  top: 45px;

}

.navigation_bar ul
{
    margin: 0px;
    padding: 0px 450px 0px 0px;
}

.navigation_bar li
{
    display: inline;
    margin: 0px 40px 0px 0px;
    padding: 0px 45px 0px 0px;
    list-style: none outside none;
    float: left;
    position: relative;
    left: 250px;
    line-height: 64px;
    background: url('/images/nav_marker.png') no-repeat scroll right center transparent;
    font-size: 0.9em;
    color: #000000;
    font-weight: bolder;
}

#last
{
    background: none !important;
}

a, a:link, a:visited
{
    text-decoration: none !important;

}

/* ******************************** */
/* Slider  */

#myCarousel
{
    margin-bottom: 25px;
    width: 960px !important;
    height: 180px;
    overflow: hidden;
    background-color: rgb(52,52,56);

}

.item
{
    padding: 50px 15px 15px 15px;
    text-align: center;
}
.item p
{
    color: #3f7f7f;
    font-size: 2em;
}

.zone-carousel-control > .carousel-control{
    position: absolute;
    top: 43%;
    width: 25px;
    height: 25px;
    margin-top: 70px;
    font-size: 30px;
    line-height: 20px;
    color: rgb(255,255,255);
    text-align: center;
    background: none repeat scroll 0% 0% rgb(34, 34, 34);
    border: 2px solid rgb(255,255,255);
    border-radius: 23px 23px 23px 23px;
    opacity: 0.5;

}
.zone-carousel-control > .carousel-control.left
{
    left: 870px;
}
.zone-carousel-control > .carousel-control.right
{
    left: auto;
    right: 10px;
}


/* ******************************** */
/* Footer  */
.footer-info
{
    background: url('/images/slide_bg.png') repeat-x scroll left top transparent;
    padding:29px 0 24px 0;
    font-size: 12px;
    color: #505050;
    position:relative;
    text-align:center;
}
/* ******************************** */
/* Footer  */
.footer {
	display:block;
}
div.footer ul {
	padding:0;
	margin:0;
}
div.footer ul li {
	list-style-type:none;
	display:inline;
	padding:0 23px 0 0;
	margin:0 15px 0 0;
	background:url('/images/nav_marker.png') no-repeat right center;
}
div.footer ul li:last-child {
	background:none !important;
	padding:0 !important;
	margin:0 !important;
}
div.footer ul li a {
	color:#404040;
	text-decoration:none;
	font-size:13px;
}
div.footer ul li a:hover, div.footer ul li.current-menu-item a {color:#af2330;
}
.footer-info p {
	padding: 8px 0 0 0;
	margin:0;
	font-size: 13px;
	color: #696868;
	line-height:21px;
}
.footer-info p a {
	font-size: 13px;
	color: #696868;
	text-decoration:none;
}

a.top_btn {
	position:absolute;
	right:20px;
	top:34px;
	width:32px;
	height:32px;
	background:url('/images/top_btn.png') no-repeat left top;
	background-position:0 0;
	display:block;
}
a.top_btn:hover {background-position:0 -32px;
}
