$grisfonce: #525252;
$grisclair: #D3D3D3;
$texte_gros: 1.2em;
$texte_normal: 1em;
$texte_petit: xx-small;
/************************
Vignette utilisées dans views/lessons/_vignette notamment action INDEX
*************************/

nav.pagination
{
  float: none;
}

#lessons_vignettes
{
  margin-left: 0px; /*overide row class of twitter bootstrap margin-left -30px*/
}
#lessons_vignettes .span3
{
  width: 220px;
  margin-left: 10px;
  margin-right: 10px;
}


.cours_box {
  padding: 10px;
  border-width: 1px;
  border-radius: 5px 5px 0px 0px;
  border-style: solid;
  border-color: $grisclair;
  height: 228px;
  width: 198px; /*220 - 20 (padding) - 2 (box border)*/
  vertical-align: top;
}

.cours_image
{
  height: 120px;
  width: 200px;
  border-width: 1px;
  border-style: solid;
  border-color: $grisclair;
}

.cours_label
{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 50px;
  width: 50px;
  z-index: 1;
}

.cours_box h1
{
	font-size: $texte_gros;
	color: $grisfonce;
	font-weight: bolder;
	padding-top: 10px;
	padding-bottom: 30px;
}

.cours_box h3
{
	font-size: $texte_normal;
	color: #888888;
	margin-bottom: 0px;
}

.cours_box p
{
	font-style: italic;
	font-size: $texte_normal;
}

.cours_box hr
{
 color: $grisclair;
}

.cours_logistique
{
  position: relative;
  background: url('/images/body.gif') repeat left top;
  padding: 5px 10px 10px 10px;
  width: 198px;
  height: 38px;
  border-width: 1px;
  border-radius: 0px 0px 5px 5px;
  border-style: solid;
  border-color: $grisclair;
  color: $grisfonce;
}

.cours_logistique img
{
  position: relative;
  top: 3px;
}

.cours_details
{
  margin-bottom: 0px;
}


.cours_logistique p#price_tag
{
  position: absolute;
  color: #6e000d;
  font-weight: bolder;
  font-size: 1.3em;
  margin-bottom: 0px; 
  right: 0px; 
  bottom: 0px; 
  margin-right: 0px; 
  padding-right: 10px; 
  padding-bottom: 5px;
}

/************************
cours détails dans INDEX
*************************/
#lessons_coupdecoeur
{
  background-color: #f8f8ff;
  height: 390px;
  width: 960px;
  border-width: 1px;
  border-style: solid;
  border-color: $grisclair;
}

#lessons_coupdecoeur .span2
{
  margin-left: 10px;
  margin-right: 10px;
  width: 220px;
}

#lessons_coupdecoeur_titre
{
  color: #980905;
  font-size: 1.5em;
  font-weight: bolder;
  padding-left: 25px;
  margin: 0pt 0pt 0px;
}



#lessons_separateur
{
  width:960px;
  height: 30px;
  background: url('/images/body.gif') repeat left top;
}

#lessons_liste
{
  margin-top: 10px;

}

/************************
éléments de navigation pour pagination
overcome active_admin css
*************************/

.pagination a, .pagination span.page.current
{
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  color: grey !important;

}
.pagination span.page.current
{
  font-weight: bolder !important;
  text-decoration: underline !important;
}


/************************
search box
*************************/
#lessons_recherche
{
  width: 220px;
  height: 303px;
  margin-left: 9px; /*overide span class of twitter bootstrap*/
  margin-right: 9px;
  background: url('/images/body.gif') repeat left top;
  position: relative;
  border-width: 1px;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-color: $grisclair;
  vertical-align: top;
}


#lessons_recherche label
{
  width: auto;
  color: #6e000d !important;
  font-weight: bolder;
}

#lessons_recherche input
{
  width: auto;
}

#lessons_recherche select
{
  width: auto;
  height: 20px;
}


#lessons_recherche p
{
  padding: 5px;
}
/************************
cours détails dans SHOW
*************************/
$largeurcolonne: 210px;

#cours_details_main hr
{
  height: 1.5px;
  color: $grisclair;
  background-color: $grisclair;
  margin: 10px 0pt;
  width: auto;
}

#cours_details_main p
{

}

.cours_details_box{
  float: left;
  height: auto;
  font-size: $texte_petit;
  color:$grisfonce;
  border:#878a85;

}

.big
{
  font-size: $texte_normal;
  color: $grisfonce;
  font-weight: bolder;
}

.tab_droite
{
  margin-left:36px;
  margin-top: -15px;
}
.cours_details_organisateur
{
  padding-top: 10px;
}

#cours_details_main h3
{
  color:#00a4e4;
  padding-top: 20px;
  padding-bottom: 20px;
}

#cours_details_banniere
{
  width: auto;
  height: 50px;
  background-color: rgb(52,52,56);
  border-radius: 5px 5px 5px 5px;
}

#cours_label_name
{
  color: white;
  font-weight: bolder;
  font-size: 1.5em;
  padding-left: 5px;

}


