$grisfonce: #525252;
$grisclair: #D3D3D3;
$texte_gros: smaller;
$texte_normal: x-small;
$texte_petit: xx-small;
/************************
Vignette utilisées dans views/lessons/_vignette notamment action INDEX
*************************/

nav.pagination
{
  float: none;
}

.row
{
  display: block;
  margin-left: auto;
  margin-right: auto
}
.vignette_box
{
  width: 160px;
  line-height: 12px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
}


.cours_box {
  position: relative;
  border-width: 1px;
  border-radius: 5px 5px 0px 0px;
  border-style: solid;
  border-color: $grisclair;
  padding: 10px;
  height: 180px;
  vertical-align: top;
  line-height: 12px;
}

.cours_image
{
  left:10px;
  top:10px;
  height: 100px;
  width: 140px;
  border-width: 1px;
  border-style: solid;
  border-color: $grisclair;
}

.cours_label
{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 50px;
  width: 50px;
  z-index: 1;
}

.cours_box h1
{
font-size: $texte_gros;
color: $grisfonce;
font-weight: bolder;
line-height: 25px;
}

.cours_box h3
{
font-size: $texte_normal;
color: #888888;
}

.cours_box p
{
font-style: italic;
font-size: $texte_normal;
line-height: 10px;
}

.cours_box hr
{
 color: $grisclair;
}

.cours_logistique
{
  background: url('/images/body.gif') repeat left top;
  position: relative;
  border-width: 1px;
  border-radius: 0px 0px 5px 5px;
  border-style: solid;
  border-color: $grisclair;
  padding: 10px;
  height: 40px;
  vertical-align: top;
}
.cours_details
{
  font-size: $texte_petit;
  margin: 0pt;
}
.heure p
{
font-size: 0.2em;
}

.cours_logistique #price_tag
{
  position: absolute;
  bottom: -12px;
  right: 5px;
  color: #6e000d;
  font-size: $texte_normal;
  font-weight: bolder;
}

/************************
cours détails dans INDEX
*************************/
#lessons_coupdecoeur
{
  background-color: #f8f8ff;
  height: 390px;
  border-width: 1px;
  border-style: solid;
  border-color: $grisclair;
  padding-right: 35px;
  padding-left: 35px;
}

#lessons_coupdecoeur_titre
{
  color: #980905;
  font-size: 1.5em;
  font-weight: bolder;
  padding-left: 25px;
  margin: 0pt 0pt 0px;
}



#lessons_separateur
{
  width:960px;
  height: 30px;
  background-color: rgb(239, 239, 239);
}

#lessons_liste
{
  margin-top: 10px;
  margin-right: 35px;
  margin-left: 35px;
}
/************************
search box
*************************/
#lessons_recherche
{
  width: 150px;
  background: url('/images/body.gif') repeat left top;
  position: relative;
  border-width: 1px;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-color: $grisclair;
  vertical-align: top;
  display: inline-block;
  padding: 2px;
}

.vignette_box
{
  width: 160px;
  line-height: 12px;

}

#lessons_recherche label
{
  width: auto;
  color: #6e000d !important;
  font-weight: bolder;
}

#lessons_recherche input
{
  width: auto;
}

#lessons_recherche select
{
  width: auto;
}


#lessons_recherche p
{
  padding: 5px;
}
/************************
cours détails dans SHOW
*************************/
$largeurcolonne: 210px;

#cours_details_main hr
{
  height: 1.5px;
  color: $grisclair;
  background-color: $grisclair;
  margin: 10px 0pt;
  width: auto;
}

#cours_details_main p
{

  line-height: 12px;
}

.cours_details_box{
  float: left;
  height: auto;
  font-size: $texte_petit;
  color:$grisfonce;
  border:#878a85;

}

.big
{
  font-size: $texte_normal;
  color: $grisfonce;
  font-weight: bolder;
}

.tab_droite
{
  margin-left:36px;
  margin-top: -15px;
}
.cours_details_organisateur
{
  padding-top: 10px;
}

#cours_details_main h3
{
  color:#00a4e4;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 36px;
}

#cours_details_banniere
{
  width: auto;
  height: 50px;
  background-color: rgb(52,52,56);
  border-radius: 5px 5px 5px 5px;
}

#cours_label_name
{
  color: white;
  font-weight: bolder;
  font-size: 1.5em;
  padding-left: 5px;

}


