.cours_box {
  position: relative;
  width: 180px;
  border-width: 1px;
  border-radius: 5px 5px 0px 0px;
  border-style: solid;
  border-color: #D3D3D3;
  padding: 10px;
  height: 200px;
  vertical-align: top;
}

.cours_image
{
  left:10px;
  top:10px;
  height: 100px;
  width: 180px;
  border-width: 1px;
  border-style: solid;
  border-color:#D3D3D3;
}

.cours_label
{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 50px;
  width: 50px;
  z-index: 1;
}

.cours_box h1
{
font-size: small;
color: #525252;
font-weight: bolder;
}

.cours_box h3
{
font-size: small;
color: #888888;
}

.cours_box p
{
font-style: italic;
}

.cours_box hr
{
 color: #D3D3D3;
}

.cours_logistique
{
  background: url('/images/body.gif') repeat left top;
  position: relative;
  width: 180px;
  border-width: 1px;
  border-radius: 0px 0px 5px 5px;
  border-style: solid;
  border-color: #D3D3D3;
  padding: 10px;
  height: 40px;
  vertical-align: top;
}
.cours_details
{
font-size: 0.9em;
}

.cours_logistique #price_tag
{
  position: absolute;
  bottom: 2px;
  right: 10px;
  color: #6e000d;
  font-size: 1.5em;
  font-weight: bolder;
}

