<div class="footer-info">
  <div class="footer">
    <ul id="menu-footer-menu" class="footer-nav">
      <li id="menu-item-534" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-534">
        <a href="#">Home</a></li>
      <li id="menu-item-147" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-147">
        <a href="#">A Propos</a></li>
      <li id="menu-item-535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-535">
        <a href="#">Nos Services</a></li>
      <li id="menu-item-623" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-623">
      <a href="#">Blog</a></li>
      <li id="menu-item-624" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-623">
        <a href="#">Contactez-nous</a></li>
    </ul>
  </div>
  <p>&copy; 2012 <a href="#" title="">A l'école buissionière</a>. Tous droits réservés. </p>
    <a href="#main" class="top_btn"></a>
</div>