<div id="header_global">
  <div id="logo"> <a href="#"> <img title="ALEB" alt="A l'école buissonière" src="/images/logo_home.png"> </a> </div>
  <div class="navigation_bar">
    <ul>
      <li><a href="#"> Trouver un cours </a> </li>
      <li><a href="#"> Donner un cours </a> </li>
      <li id="last"><a href="#"> Idées de cours </a> </li>
    </ul>
  </div>
</div>