<div id="wrapper">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <%=image_tag "/assets/rodin.png"%>
                <%=image_tag "/assets/macarons.jpg"%>
            </div>
        </div>

    </div>


