<div class="slider-wrapper futurico-theme">
  <div id="slider" class="nivoSlider">
    <%=image_tag "/images/Slide1.png"%>
    <%=image_tag "/images/Slide2.png"%>
    <%=image_tag "/images/Slide3.png"%>
  </div>
</div>

