<div id="slider-wrapper">
<div id="slider" class="nivoSlider">
  <p> Lorem Ipsum dolor si t amet! </p>
  <a><h1> Un autre texte </h1></a>
  <a><h3> encore une autre histoire</h3></a>

  <div class="nivo-controlNav-Body">
  <div class="nivo-controlNav">
    <a class="nivo-control" rel="0"></a>
    <a class="nivo-control" rel="1"></a>
    <a class="nivo-control" rel="2"></a>
  </div>


  </div>
</div>
</div>


