<div id="slider-wrapper">
<div id="slider" class="nivoSlider">
  <a class="nivo-imageLink" href="" style="display: block;">
    <img title="<h2> Lorem Ipsum dolor si t amet! </h2> <p> coucou </p>" alt="alternatif" scr="/images/slider/spacer.gif" style="display: none;"> </a>
  <img src="images/macarons.jpg" alt="" />
    <img src="images/label_coeur.jpeg" alt="" title="This is an example of a caption" />
    <img src="images/date_small.png" alt="" />

</div>
</div>


