<div id="myCarousel" class="carousel">
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">

            <p> Integer posuere scelerisque erat scelerisque fermentum.</p>
            <p>Nullam laoreet dignissim enim a rhoncus.</p>
        </div>
        <div class="item">
          <p>In vulputate, diam vel commodo sagittis, lectus est fringilla augue.</p>
          <p>Id viverra purus urna in arcu. Proin vitae sem nunc</p>
        </div>
      <div class="item">
        <p>Aliquam vitae est ac turpis porta auctor id non turpis.</p>
        <p>Morbi in feugiat lacus</p>
        </div>
    </div>
<!-- Carousel nav -->
<div class="zone-carousel-control">
    <a class="carousel-control left" href="#myCarousel" data-slide="prev"> &lsaquo; </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next"> &rsaquo;</a>
</div>
</div>